$dark: #242424; /* #242424 */ /* #fff */
$white: #fff; /* #fff */ /* #242424 */
$light-grey: #f2f2f2; /* #2B2B2B */ /* #F2F2F2 */
$light-p: #525252; /* #525252 */ /* #ebebeb */
$light-paragraph: #8F8F8F; /* #8F8F8F */ /* #c1c1c1 */

$border-r: 8px;